
.Individual{
  border: 1px solid black;
}

.individual-name {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.alive{
  height: 13rem;
}

.alive img{
  margin-top: .5rem;
  margin-bottom: .5rem;
  height: 5rem;
  max-width: 100%;
}

.individual-food-meter button{
  font-size: 0.9rem;
  padding: 0.2rem, 0.5rem;
}

.dead{
  height: 13rem;
}

.dead h4{
  color: red;
  padding-top: 2rem;
  padding-bottom: 3rem;
}


