
.Individual{
  border: 1px solid black;
}

.individual-name {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.alive{
  height: 13.6rem;
}

.alive img{
  margin-top: .5rem;
  margin-bottom: .5rem;
  height: 5.6rem;
  max-width: 100%;
}

.individual-food-meter button{
  font-size: 0.9rem;
  padding: 0.2rem, 0.5rem;
}

.individual-food-meter .meter-container {
  position: relative;
  border: 0.1rem solid black;
  width: 70%;
  margin-left: 15%;
  height: 1.7rem;
}


.individual-food-meter .meter{
  background-color: greenyellow;
  text-align: center;
  position: absolute;
  height: 1.5rem;
  z-index: 1;
}

.individual-food-meter .meter-text {
  position: absolute;
  z-index: 2;
}

.individual-food-meter .feed-btn {
  margin-top: 0.5rem;
}

.renaming input{
 width: 75%
}

.rename-button{
  padding: 0.2rem 0rem;
}

.rename-button button{
  font-size: 0.9rem;
  width: 75%;
  padding: 0.2rem;
}

.dead{
  height: 13.6rem;
}

.dead h4{
  color: red;
  padding-top: 2rem;
  padding-bottom: 3rem;
}


@media (min-width: 768px) {
  .rename-button button{
    width: 95%;
  }
  .renaming input{
    width: 95%
   }
}

@media (min-width: 992px) {
  .rename-button button{
    width: 75%;
  }
  .renaming input{
    width: 85%
   }
}

@media (min-width: 1200px) {
  .rename-button button{
    width: 65%;
  }
  .renaming input{
    width: 75%
   }
}