.speed-buttons .btn {
  font-size: 0.75rem;
  padding: 0.15rem;
  margin-bottom: 0.2rem;
  width: 100%;
}

@media (min-width: 768px) {
  .speed-buttons .btn {
  font-size: 0.75rem;
  width: 90%;
  }
}
@media (min-width: 992px) {
  .speed-buttons .btn {
  font-size: 0.75rem;
  width: 165%;
  }
}
@media (min-width: 1200px) {
  .speed-buttons .btn {
    font-size: 0.8rem;
    width: 140%;
    }
}
@media (min-width: 1400px) {
  .speed-buttons .btn {
    font-size: 0.85rem;
    width: 120%;
    }
}


